<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786938426358-66rj2bptiapoeobulfqqaf8ioa40ae7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786938426358-66rj2bptiapoeobulfqqaf8ioa40ae7t</string>
	<key>API_KEY</key>
	<string>AIzaSyCZOsh14H-pwdqjjeOKhXNCnxHciwGkEVE</string>
	<key>GCM_SENDER_ID</key>
	<string>786938426358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SuperHeroPedia.americo.com.SuperHeroPedia</string>
	<key>PROJECT_ID</key>
	<string>superheropedia-e0a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>superheropedia-e0a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786938426358:ios:b2427a271b13a738b20dd7</string>
</dict>
</plist>